
<h2>BRAND PERSONALIZADO</h2>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas non accusantium amet at, alias aspernatur libero, dolores repellendus corrupti eaque eum voluptas doloribus accusamus laudantium vitae minus, molestiae vero quam?</p>


<p class="nerko">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit obcaecati debitis, sit alias qui quidem illum quasi facilis corrupti quibusdam, sed voluptatum molestiae enim expedita sunt tenetur dolorum vel repellat.</p>



<ul>
  <li><a href="https://www.facebook.com/?locale=es_LA" target="_blank">facebbok</a></li>
  <li><a href="https://codeshare.io/feedback" target="_blank">feedback</a></li>
  <li><a href="https://stackoverflow.com" target="_blank">Stack overflow</a></li>
</ul>


<h3>Tabla Personalizada</h3>
<table class="table-custom">
  <tr>
    <th>productos</th>
    <th>existencias</th>
    <th>valor</th>
  </tr>
  <tr class="row-gray">
    <td>iphone</td>
    <td>10</td>
    <td>2000000</td>
  </tr>
  <tr class="row-blue">
    <td>mouse</td>
    <td>100</td>
    <td>50000</td>
  </tr>
  <tr class="row-gray">
    <td>pc gamer</td>
    <td>2</td>
    <td>3000000</td>
  </tr>
</table>


<router-outlet />
