body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    padding: 10px;
}

.logo {
    background-color: orange;
    padding: 20px;
    color: white;
}

.titulo {
    flex-grow: 1;
    text-align: center;
    color: white;
}

.buscador input {
    padding: 5px;
}


.contenedor {
    display: flex;
    flex-wrap: wrap;
    background-color: #1f4d8f; 
    padding: 5px;
}


.barra-left {
    background-color: lightgray;
    flex: 1 0 15%;
    padding: 20px;
    min-width: 150px;
}


.content {
    background-color: green;
    flex: 3 0 70%;
    padding: 20px;
    min-height: 300px;
}


.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: orange;
    width: 100%;
    padding: 10px;
}

.footer-main {
    background-color: orange;
    color: white;
    flex: 1 0 100%;
    text-align: center;
    margin-bottom: 10px;
}

.footer-item {
    background-color: lightgray;
    flex: 1;
    margin: 5px;
    padding: 20px;
    text-align: center;
}
